<script>
  import { mapGetters } from 'vuex'
  import moment from 'moment'

  export default {
    props: ['uuid'],

    computed: {
      ...mapGetters('chat', {
        loading: 'isLoading',
        messages: 'getMessages'
      })
    },

    async mounted() {
      if(this.uuid){
        await this.$store.dispatch('chat/fetchMessages', this.uuid)
      }
    },

    mounted() {
      let chatbox = this
      this.$parent.$parent.socket.on('conversation private post', function(data) {
        chatbox.$store.dispatch('chat/fetchMessages', chatbox.uuid)
      })
      this.$parent.$parent.socket.on('user left', function(message) {

        chatbox.$store.dispatch('chat/updateMessages', message)
        chatbox.onlineUsers.$remove(message.username)
      })
    },

    filters: {
      parseDate: (date) => moment(date).format('LL')
    },
  }
</script>

<template>
  <div class="ChatBox__List">
    <div class="Message" v-for="message in messages.messages">

      <div class="Message--Message">
        <p class="Message__Author">
            <strong> {{ message.user.firstname }} {{ message.user.lastname }}</strong> skrev,
            {{ message.created_at | parseDate }}
        </p>

        <p class="Message__Content">
            {{ message.message }}
        </p>
      </div>
    </div>
  </div>
</template>

<style>
    .ChatBox__List {
        height: 90vh;
        overflow: scroll;
    }
    #ChatBox .Message {
        background: white;
        overflow: hidden;
        padding: 10px;
    }

    #ChatBox .Message:nth-child(even) {
        background: #F7F7F7;
    }

    #ChatBox .Message p {
        margin: 0;
    }

    #ChatBox .Message p.Message__Author {
        font-style: italic;
        color: #999;
        margin-bottom: 5px;
    }
</style>
