<script>
  import ChatMessage from './ChatMessage'
  import Conversations from './Conversations'
  import { mapGetters } from 'vuex'
  import axios from 'axios'
  import jwt_decode from 'jwt-decode'
  import API from '../../utils/api'

  export default {
    components: {
      'chat-message': ChatMessage,
      'conversation-list': Conversations
    },

    computed: {
      ...mapGetters('chat', {
        loading: 'isLoading',
        messages: 'getMessages'
      })
    },

    data() {
      return {
        newMessage: '',
        userId: jwt_decode(localStorage.getItem('token'))._uid,
        convoId: ''
      }
    },

    methods: {
      sendMessage(event) {
        const self = this;
        event.preventDefault()
        self.$parent.socket.emit('send message', {
            uuid: self.convoId,
            user: self.userId,
            message: self.newMessage
          });
        self.newMessage = '';
      },
      getUUID(uuid) {
        this.convoId = uuid
        this.$parent.socket.emit('subscribe', uuid)
        this.$store.dispatch('chat/fetchMessages', uuid);
      }
    }
  }
</script>

<template>
  <div id="ChatBox">
    <div class="columns container">
      <div class="column is-6 ChatBox__Left">
        <!--  make uuid dynamic and not hardcoded -->
        <chat-message v-bind:uuid="convoId"/>

        <div class="ChatBox__Input">
          <form @submit="sendMessage" action="/" method="post">
            <input type="text" v-model="newMessage" placeholder="Enter your message here">
          </form>
        </div>
      </div>

      <conversation-list @conversationUUID="getUUID"/>
    </div>
  </div>
</template>

<style>
    #ChatBox {
        width: 50%;
        height: 100%;
        margin-right: 0;
    }
    #Chat__ChatBox ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    .ChatBox__Left {
        padding-right: 0;
    }
    .ChatBox__Input {
        height: 10vh;
        background: #eee;
        border-top: 3px solid #ddd;
        padding: 20px;
    }
    .ChatBox__Input input {
        width: 100%;
        background: white;
        padding: 10px;
    }
    .ChatBox__Input input:focus {
        outline: none;
    }
    ul.ChatBox__OnlineUsers {
        list-style: none;
        margin: 0;
        padding: 0;
    }

</style>
