<script>
  import { mapGetters } from 'vuex'
  import ChatBox from './ChatBox.vue'
  import socketio from 'socket.io-client'
  import API from '../../utils/api'

  export default {
    components: {
      ChatBox
    },

    data() {
      return {
        socket: socketio(API.v1_socketUrl),
      }
    },

  }
</script>

<template>
    <div id="Chat">
      <chat-box></chat-box>
    </div>
</template>


<style>
  #Chat {
    width: inherit;
    height: inherit;
  }
</style>
