<script>
  import { mapGetters } from 'vuex'
  import jwt_decode from 'jwt-decode'

  export default {
    data() {
      return {
        userId: jwt_decode(localStorage.getItem('token'))._id,
        userType: jwt_decode(localStorage.getItem('token'))._type,
        test: jwt_decode(localStorage.getItem('token'))
      }
    },

    computed: {
      ...mapGetters('chat', {
        loading: 'isLoading',
        conversations: 'getConversations'
      })
    },

    async mounted () {
      if(this.userType === 'company'){
        await this.$store.dispatch('chat/fetchCompanyConversations', this.userId)
      }
      if(this.userType === 'celebrity') {
        await this.$store.dispatch('chat/fetchCelebrityConversations', this.userId)
      }
    },

    methods: {
      selectedUser: function(uuid) {
        this.$emit('conversationUUID', uuid);
      }
    }

  }
</script>

<template>
  <div class="column is-3 ChatBox__Right">
    <h3>Konversationer</h3>
    <ul class="ChatBox__OnlineUsers">
      <li v-for="conversation in conversations">
        <a @click.prevent="selectedUser(conversation.conversation.uuid)" class="conversation">
          <p v-if="conversation.conversation">{{ conversation.conversation.channel }}</p>
        </a>
      </li>
    </ul>
  </div>
</template>

<style lang="scss" scoped>
  h3 {
    margin-top: 20px;
    text-transform: uppercase;
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: bold;
    color: #999;
  }

  .ChatBox__Right {
    height: 100vh;
    border-left: 1px solid #eee;
    background: #F7F7F7;
    box-shadow: -10px 0 40px #F1F1F1;
  }

  .conversation {
    display: inline-block;
    color:#333;
    text-decoration:none;
    margin-top: 30px;
  }
</style>
