<script>
  import Celebrity from './CelebrityCard.vue'
  import { mapGetters } from 'vuex'

  export default {
    name: 'celebrities',
    components: {
      'celebrity-card': Celebrity
    },

    data() {
      return {
          categorySolution: '',
          search: '',
          celebritiesArr: []
        }
    },

    async mounted () {
      await this.$store.dispatch('celebrities/fetchCelebrities')
    },

    computed: {
      ...mapGetters('celebrities', {
        loading: 'isLoading',
        celebrities: 'getCelebrities'
      })
    },

    watch: {
      search: function(newSearch){
        this.filteredCelebrities();
      }
    },

    methods: {
      getMatchingCategories: function(myArray) {
        for (var i=0; i < myArray.length; i++) {
            if (myArray[i].name.indexOf(this.search) >= 0) {
                return myArray[i].name;
            }
        }
      },
      filteredCelebrities: function() {
        const celeb = this;
        this.celebritiesArr = this.celebrities.filter(function(celebrity) {
          const categoryvalue = celeb.getMatchingCategories(celebrity.categories);
          return ((celebrity.user.firstname.toLowerCase().indexOf(celeb.search) >= 0) || (celebrity.user.lastname.toLowerCase().indexOf(celeb.search) >= 0) || (celebrity.alias.toLowerCase().indexOf(celeb.search) >= 0) || (categoryvalue)) && (celebrity.user.verified === true);
        });
      }
    },

    created() {
      if(this.celebrities){
        this.celebritiesArr = this.celebrities.filter(celebrity => { return (celebrity.user.verified === true)});
      }

    }
  }
</script>

<template>
  <section class="section">
    <div class="container">
      <div class="heading">
      <div id="loading" v-if="loading"></div>
      <input class="input" type="text" v-if="celebrities.length >= 1" v-model="search" placeholder="Sök efter kändisar" />
        <br>
        <br>
        <celebrity-card v-for="celebrity in celebritiesArr"
          :id="celebrity.id"
          :uid="celebrity.user.id"
          :firstname="celebrity.user.firstname"
          :lastname="celebrity.user.lastname"
          :description="celebrity.description"
          :alias="celebrity.alias"
          :profilePicture="celebrity.profile_picture_url"
          :categories="celebrity.categories"
        />
      </div>
    </div>
  </section>
</template>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

/* Animation */
@-webkit-keyframes loading {
  to { -webkit-transform: rotate(360deg); }
}
@-moz-keyframes loading {
	to { -moz-transform: rotate(360deg); }
}
@-ms-keyframes loading {
	to { -ms-transform: rotate(360deg); }
}
@keyframes loading {
	to { transform: rotate(360deg); }
}

/* Loader (*/
#loading {

	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: transparent;

	border-top: 4px solid #fff;
	border-right: 4px solid #fff;
	border-bottom: 4px solid #777;
	border-left: 4px solid #777;

	-webkit-animation: loading 1.2s infinite linear;
	-moz-animation: loading 1.2s infinite linear;
	-ms-animation: loading 1.2s infinite linear;
	animation: loading 1.2s infinite linear;

}

</style>
