<script>
  import { mapGetters } from 'vuex'

  export default {
    name: 'celebrity',

    async mounted () {
      await this.$store.dispatch('celebrities/fetchCelebrity', this.$route.params.id)
    },

    computed: {
      ...mapGetters('celebrities', {
        loading: 'isLoading',
        celebrity: 'getCelebrity'
      })
    }
  }
</script>

<template>
  <div class="section profile-heading" v-if="celebrity">
    <div class="columns">
      <div class="column is-2">
        <div class="image is-128x128 avatar">
          <img src="../../assets/no_logo.png" alt="Image">
        </div>
      </div>
      <div class="column is-3 name">
        <p class="title stat-val">{{celebrity.user.firstname}} {{celebrity.user.lastname}}</p>
        <p class="is-bold">{{celebrity.alias}}</p>
      </div>
      <div class="column is-3">
        <p class="title stat-val">Om mig</p>
        <p class="tagline">{{celebrity.description}}</p>
      </div>
      <div class="column is-4">
        <p class="title is-bold">Kategorier</p>
        <p class="stat-key" v-for="category in celebrity.categories">{{category.name}}</p>
      </div>
    </div>
    <hr>
    <div class="columns">
      <div class="column is-3"></div>
      <div class="column is-3">
        <h1 class="title has-text-centered">Instagram</h1>
        <h2 class="subtitle">Mer data kommer inom snar framtid</h2>
        <nav class="level">
          <div class="level-item">
            <div>
              <p class="heading has-text-centered">Poster</p>
              <p class="title">1,244</p>
            </div>
          </div>
          <div class="level-item">
            <div>
              <p class="heading has-text-centered">Följare</p>
              <p class="title">456K</p>
            </div>
          </div>
        </nav>
      </div>
      <div class="column is-3">
        <h1 class="title has-text-centered">Twitter</h1>
        <h2 class="subtitle">Mer data kommer inom snar framtid</h2>
        <nav class="level">
          <div class="level-item">
            <div>
              <p class="heading has-text-centered">Tweets</p>
              <p class="title">399</p>
            </div>
          </div>
          <div class="level-item">
            <div>
              <p class="heading has-text-centered">Följare</p>
              <p class="title">255K</p>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </div>
</template>

<style lang="sass" scoped>

</style>
