<template>
  <div id="update">
    <div class="form-box">
      <img src="../../assets/famestation.png" alt="Edit profile, Famestation">
      <p>Editera profil</p>

      <!-- Celebrity Form -->

      <form class="update-form" v-if="type === 'celebrity'" @submit.prevent="update">

        <input type="text" v-model="inputCelebrity.alias" placeholder="Alias">
        <div class="name">
          <input type="text" v-model="inputCelebrity.firstname" placeholder="Förnamn">
          <input type="text" v-model="inputCelebrity.lastname" placeholder="Efternamn">
        </div>
        <input type="text" v-model="inputCelebrity.email" placeholder="Epostadress">
        <input type="text" v-model="inputCelebrity.description" placeholder="Beskriving">

        <button class="confirm" v-if="!confirm" @click="confirm = true">Bekräfta uppgifterna</button>
        <input v-if="confirm" type="submit" value="Spara">
      </form>

      <!-- Company Form -->

      <form class="update-form" v-if="type === 'company'" @submit.prevent="update">

        <input type="text" v-model="inputCompany.company_name" placeholder="Företagsnamn">
        <div class="name">
          <input type="text" v-model="inputCompany.firstname" placeholder="Förnamn">
          <input type="text" v-model="inputCompany.lastname" placeholder="Efternamn">
        </div>
        <input type="text" v-model="inputCompany.email" placeholder="Epostadress">
        <input type="text" v-model="inputCompany.country" placeholder="Land">
        <input type="text" v-model="inputCompany.type" placeholder="Typ">
        <input type="text" v-model="inputCompany.company_website" placeholder="Hemsida">
        <input type="text" v-model="inputCompany.description" placeholder="Beskriving">

        <button class="confirm" v-if="!confirm" @click="confirm = true">Bekräfta uppgifterna</button>
        <input v-if="confirm" type="submit" value="Spara">
      </form>
    </div>

    <span><i class="fa fa-angle-double-left" aria-hidden="true"></i> <router-link :to="{ name: 'profile', params: { id: userID }}" exact>Tillbaka</router-link></span>
  </div>
</template>

<script>
import jwt_decode from 'jwt-decode';
  export default {
    name: 'update',

    data () {
      return {
        type: jwt_decode(localStorage.getItem('token'))._type,
        userID: this.$route.params.id,
        confirm: false,
        formType: 'celebrity',
        inputCompany: {
          id: this.$route.params.id
        },
        inputCelebrity: {
          id: this.$route.params.id
        },
        options: [
          { text: 'Privatperson', value: 'celebrity'},
          { text: 'Företag', value: 'company' }
        ]
      }
    },

    methods: {
      update() {
        let self = this;
        if(this.type === 'celebrity') {

          this.$store.dispatch('celebrities/updateCelebrity', this.inputCelebrity)
          this.$router.push({ name: 'profile' })

        } else if(this.type === 'company') {

          this.$store.dispatch('companies/updateCompany', this.inputCompany)
          this.$router.push({ name: 'profile' })

        }
      }
    }
  }
</script>

<style lang="scss">
  #update {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: no-repeat top/100% linear-gradient(to right, #69B62F, #DE3375), url('../../assets/instagram-header.jpg');
    background-color: #dc6b96;
    background-blend-mode: soft-light;
    background-size: cover;
    color: #fff;
    img { width: 10em; height: auto;  margin: 1em;}
    p { font-weight: bold; color: #3a3a3a; }
    span { margin-top: 1em; padding: 1em; }
    span a { color: #fff; font-weight: 12px; }
  }

  form.update-form {
    display: flex;
    flex-flow: column nowrap;
    width: 30em;
    padding: 2em;
    div.name { display: flex; flex-flow: row nowrap;  width: 2em;}
  }

  #update .form-box {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background: hsla(0, 0%, 96%, 0.88);
    border-radius: 5px;
  }

  #update input {
    padding: 1.5em;
    font-size: 13px;
    margin: 1em;
    &[type="submit"] {
      color: #fff;
      font-size: 15px;
      font-weight: bold;
      background: #47d89c;
      border-radius: 5px;
      text-transform: uppercase;
      letter-spacing: 4px;
    }
  }

    button.confirm {
      padding: 1.5em;
      font-size: 13px;
      margin: 1em;
      color: #fff;
      font-size: 15px;
      font-weight: bold;
      background: #ea578e;
      border-radius: 5px;
      text-transform: uppercase;
      letter-spacing: 4px;
    }

  #beta select {
    text-indent: .01px;
    text-overflow: '';
    overflow: hidden;
    font-family: inherit;
    font-size: 14px;
    padding: 10px 15px;
    border-radius: 0;
    color: rgba(0, 0, 0, 0.7);
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 22.5em;
    height: 3em;
    margin: 2em 0;
    align-self: center;
    outline: none;
  }
</style>
