<script>
    import axios from 'axios'
    import jwt_decode from 'jwt-decode';

    export default {
        name: 'profile',
        data() {
            return {
                type: jwt_decode(localStorage.getItem('token'))._type,
                userParamId: this.$route.params.id,
                celebrity: {
                    user: {}
                },
                company: {
                    user: {}
                }
            }
        },

        methods: {
          editProfile: function() {
            this.$router.push({ name: 'update', params: { id: this.userParamId } })
          }
        },

        created() {

          if(this.type) {
            if(this.type === 'celebrity'){
              axios.get(`${process.env.API}/celebrities/${this.$route.params.id}`)
                  .then(response => {
                    this.celebrity = response.data.result;
                    this.celebrity.user = response.data.result.user;
                  });
            } else if(this.type === 'company') {

              axios.get(`${process.env.API}/companies/${this.$route.params.id}`)
                  .then(response => {
                    this.company = response.data.result;
                    this.company.user = response.data.result.user;
                  });
            }
          }

        }
    }
</script>

<template>
  <div class="celebrity">
    <section class="section" v-if="type === 'celebrity'">
      <div class="">
        <div class="heading">
          <div class="box">
          <h1 class="title"><strong>{{celebrity.user.firstname}} {{celebrity.user.lastname}}</strong></h1>
            <div class="columns">
              <div class="column is-2">
                <figure class="image is-256x256">
                  <img v-if="celebrity.profile_picture_url" :src="celebrity.profile_picture_url" alt="Image">
                  <img v-else="celebrity.profile_picture_url" src="../../assets/no_logo.png" alt="Image">
                </figure>


              </div>
              <div class="column is-7">
                <br>
                <p>
                  <span class="subtitle">
                   <strong>Alias:</strong> @{{celebrity.alias}}
                   <br>
                      <strong>Email:</strong> {{celebrity.user.email}}
                    <br>
                    <br>
                    <strong>Kategorier</strong>
                    <p v-for="category in celebrity.categories">{{ category.name }}</p>
                  </span>
                </p>
              </div>
              <div class="column is-3" v-if="celebrity.id === userParamId">
                <strong>Editera din profil</strong>
                <button v-on:click="editProfile">Editera profil</button>
              </div>
            </div>
            <br>
            <br>
            <div class="columns">
              <div class="column is-6">
                <p>
                  <span class="subtitle">Sociala medier</span>
                </p>
                <br>
                <div class="box">
                  <span class="subtitle is-6">http://instagram.com/Preview</span>
                  <br>
                  <br>
                  <span class="subtitle is-6">http://youtube.com/Preview</span>
                </div>
              </div>
              <div class="column is-6">
                <p>
                  <span class="subtitle">beskrivning</span>
                </p>
                <br>
                <div class="box">
                  <div class="content">
                     {{celebrity.description}}
                  </div>
                </div>

              </div>

            </div>


        </div>
      </div>
      </div>
  </section>
  <div>
    <section class="section" v-if="type === 'company'">
      <div class="container">
        <div class="heading">
          <div class="box">
          <h1 class="title"><strong>{{company.company_name}}</strong></h1>
            <div class="columns">
              <div class="column is-2">
                <figure class="image is-128x128">
                  <img src="../../assets/no_logo.png" alt="Image">
                </figure>

              </div>
              <div class="column is-7">
                <br>
                <p>
                  <span class="subtitle">
                   <strong>Företagstyp:</strong> {{company.type}}
                   <br>
                      <strong>Land:</strong> {{company.country}}
                    <br>
                    <br>
                    <strong>Kategorier</strong>
                    <p v-for="category in company.categories">{{ category.name }}</p>
                  </span>
                </p>
              </div>
              <div class="column is-3" v-if="company.id === userParamId">
                <strong>Editera din profil</strong>
                <button v-on:click="editProfile">Editera profil</button>
              </div>
            </div>
            <br>
            <br>
            <div class="columns">
              <div class="column is-6">
                <p>
                  <strong class="subtitle">Hemsida</strong>
                </p>
                <br>
                <div class="box">
                  <span class="icon is-small"><span class="fa fa-home"></span></span><span class="subtitle is-6">{{company.company_website}}</span>
                </div>
              </div>
              <div class="column is-6">
                <p>
                  <span class="subtitle">Beskrivning</span>
                </p>
                <br>
                <div class="box">
                  <div class="content">
                     {{company.description}}
                  </div>
                </div>

              </div>

            </div>


        </div>
      </div>
      </div>
  </section>
  </div>
  </div>

</template>
