<script>
import InputField from '../InputField'
import { mapActions, mapGetters } from 'vuex'
import inputs from './inputs.js'

export default {
  name: 'company-registration',

  components: {
    'fame-input': InputField
  },

  data () {
    return {
      company: {
        categories: []
      },
      inputs
    }
  },

  computed: {
    ...mapGetters('companies', [
      'loginErrors'
    ]),
    ...mapGetters('misc', [
      'categories'
    ]),
  },

  methods: {
    async registerCompany(company){
      try {
        await this.$store.dispatch('companies/createCompany', company)
        this.$router.push({ name: 'request' })
      } catch (error) {
        this.$store.dispatch('companies/setError', error.error_message)
      }
    }
  }
}
</script>

<template>
  <div class="container">
    <div class="notification is-danger" v-if="loginErrors">
      <ul>
        <li v-for="error in loginErrors">
          <p>{{error}}</p>
        </li>
      </ul>
    </div>
    <form method="POST" @submit.prevent="registerCelebrity">
    <div class="columns company-registration">
      <div class="column is-half">
        <div class="notification"> Om företaget </div>
        <fame-input v-for="input in inputs.company"
          v-model="company[input.model]"
          :title="input.title"
          :type="input.type"
          :name="input.name"
          :placeholder="input.placeholder"
        />
        <label class="label">Beskrivning om företaget</label>
        <p class="control">
          <textarea class="textarea" v-model="company.description"></textarea>
        </p>

        <label class="label">Under vilken/vilka kategorier passar ditt företags produkt/tjänst in på?</label>
        <div class="toggles">
          <p v-for="category in categories">
            <input v-model="company.categories" type="checkbox" :id="category.id" :name="category.name" :value="category.id"/>
            <label class="checkbox" :for="category.id">{{category.name}}</label>
          </p>
        </div>
      </div>
      <div class="column">
        <div class="notification"> Övrigt </div>
        <fame-input v-for="input in inputs.user"
          v-model="company[input.model]"
          :title="input.title"
          :type="input.type"
          :placeholder="input.placeholder"
        />
      </div>
    </div>

    <a class="button is-primary is-outlined" @click.prevent="registerCompany(company)">
      Registrera
    </a>
    </form>
  </div>
</template>