<script>
import { mapActions, mapGetters } from 'vuex'
import InputField from '../InputField'
import inputs from './inputs'

export default {
  name: 'celebrity-registration',

  components: {
    'fame-input': InputField
  },

  data () {
    return {
      celebrity: {
        categories: []
      },
      inputs,
    }
  },

  computed: {
    ...mapGetters('celebrities', [
      'errors'
    ]),
    ...mapGetters('misc', [
      'categories'
    ]),
  },

  methods: {
    async registerCelebrity() {
      try {
        await this.$store.dispatch('celebrities/createCelebrity', this.celebrity)
        this.$router.push({ name: 'request' })
      } catch (error) {
        this.$store.dispatch('celebrities/setError', error.error_message)
      }
    }
  }
}
</script>

<template>
  <div class="celebrity-registration">
    <div class="notification is-danger" v-if="errors">
      <ul>
        <li v-for="error in errors">
          <p>{{error.msg}}</p>
        </li>
      </ul>
    </div>
    <form method="POST" @submit.prevent="registerCelebrity">
      <div class="columns company-registration">
        <div class="column is-half">
          <div class="notification">
            Om dig
          </div>
          <fame-input v-for="input in inputs.about"
              v-model="celebrity[input.model]"
              :title="input.title"
              :placeholder="input.placeholder"
              :type="input.type"
              :name="input.name"
            />
          <label class="label">Beskrivning om dig</label>
          <p class="control">
            <textarea class="textarea" v-model="celebrity.description"></textarea>
          </p>
        </div>
        <div class="column is-half">
          <div class="notification">
            Övrig information
          </div>
          <fame-input v-for="input in inputs.miscellaneous"
            v-model="celebrity[input.model]"
            :title="input.title"
            :placeholder="input.placeholder"
            :type="input.type"
            :name="input.name"
          />
          <label class="label">Mina offentliga intressen (vad är mina följare intreserade och vad fokuserar mitt sociala medie på)</label>
          <div class="toggles">
            <p v-for="category in categories">
              <input v-model="celebrity.categories" type="checkbox" :id="category.id" :name="category.name" :value="category.id"/>
              <label class="checkbox" :for="category.id">{{category.name}}</label>
            </p>
          </div>
        </div>
      </div>
      <a class="button is-primary is-outlined" @click.prevent="registerCelebrity()">
        Registrera
      </a>
    </form>
  </div>
</template>

<style lang="scss" scoped>
  button.button {
    outline: 0;
    border: none;
    padding: 1em;
    margin: 1.5em 1em;
    color: #fff;
    font-size: .8em;
    font-weight: bold;
    text-transform: uppercase;
    background: #47d89c;
    letter-spacing: .2em;
    border-radius: 5px;
    width: 21em;
    align-self: center;
  }
</style>
