.hero {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: no-repeat top/100% linear-gradient(to right, #69B62F, #DE3375), url('./assets/instagram-header.jpg');
  background-color: #dc6b96;
  background-blend-mode: soft-light;
  background-size: cover;
  color: #fff;
  height: 45em;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
}