#login {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  height: 60%;
  width: 45em;
  form { display: flex; flex-flow: column nowrap; }
  input {
    background: #fff;
    padding: 1em;
    margin: 1em;
    border: none;
    outline: 0;
    width: 22em;
    align-self: center;
  }
  button {
    outline: 0;
    border: none;
    padding: 1em;
    margin: 1.5em 1em;
    color: #fff;
    font-size: .8em;
    font-weight: bold;
    text-transform: uppercase;
    background: #47d89c;
    letter-spacing: .2em;
    border-radius: 5px;
    width: 21em;
    align-self: center;
  }
  .error { 
    background: #ff4f4f;
    padding: 1em;
    border-radius: 5px;
    margin: .5em 0;
  }
  a { text-decoration: none; color: #fff; padding: .5em; }
}