<template>
    <div class="about">
      <section class="section">
        <div class="container">
          <div class="heading">
            <h1 class="title">Om oss</h1>
            <div class="box">
              <p>
              FameStation är en plattform som samlar företag och stora medieprofiler på en och samma plats. Vi är mellanhanden för ett tryggt, säkert och gynnsamt sammarbete, så som sponsring, på sociala medier. FameStation erbjuder dig direkt och snabb kontakt mellan företag och stora medieprofier*. Som medlem på hemsidan erbjuds även en tillgång till personernas statistik på Instagram och YouTube. Informationen du kan hämta handlar bland annat om personens följare: ålder, kön, och aktivitet. Registreringen skickas till oss som en ansökan, oavsett om man registreras sig som privat person eller företag, vilket gör att vi kan se till att du som medlem endast kommer i kontakt med seriösa sammarbetspartnerts. Både när du vill bli marknadsförd, eller marknadsföra.   
              </p>
              <br>
              <p>
              *medieprofiler – En person med minst 5000 följare/prenumeranter på något av sina sociala medier. 
              </p>
            </div>
          </div>
        </div>
    </section>
    </div>
</template>

<script>

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
