<template>
  <div id="beta">
    <div class="form-box">
      <img src="../assets/famestation.png" alt="Beta Registration, Famestation">
      <p>Beta Registration</p>

        <select v-model="formType">
          <option
            v-for="option in options"
            v-bind:value="option.value">
            {{ option.text }}
          </option>
        </select>

      <!-- Celebrity Form -->

      <form class="beta-form" v-if="formType === 'celebrity'" @submit.prevent="register">

        <input type="text" v-model="inputCelebrity.alias" placeholder="Alias">
        <div class="name">
          <input type="text" v-model="inputCelebrity.firstname" placeholder="Förnamn">
          <input type="text" v-model="inputCelebrity.lastname" placeholder="Efternamn">
        </div>
        <input type="text" v-model="inputCelebrity.email" placeholder="Epostadress">

        <button class="confirm" v-if="!confirm" @click="confirm = true">Bekräfta uppgifterna</button>
        <input v-if="confirm" type="submit" value="Spara">
      </form>

      <!-- Company Form -->

      <form class="beta-form" v-if="formType === 'company'" @submit.prevent="register">

        <input type="text" v-model="inputCompany.company_name" placeholder="Företagsnamn">
        <div class="name">
          <input type="text" v-model="inputCompany.firstname" placeholder="Förnamn">
          <input type="text" v-model="inputCompany.lastname" placeholder="Efternamn">
        </div>
        <input type="text" v-model="inputCompany.email" placeholder="Epostadress">

        <button class="confirm" v-if="!confirm" @click="confirm = true">Bekräfta uppgifterna</button>
        <input v-if="confirm" type="submit" value="Spara">
      </form>
    </div>

    <span><i class="fa fa-angle-double-left" aria-hidden="true"></i> <router-link to="/" exact>Tillbaka</router-link></span>
  </div>
</template>

<script>
  export default {
    name: 'beta',

    data () {
      return {
        confirm: false,
        formType: 'celebrity',
        inputCompany: {
          firstname: '',
          lastname: '',
          company_name: '',
          email: '',
          password: '',
          type: 'company'
        },
        inputCelebrity: {
          firstname: '',
          lastname: '',
          alias: '',
          email: '',
          password: '',
          type: 'celebrity'
        },
        options: [
          { text: 'Privatperson', value: 'celebrity'},
          { text: 'Företag', value: 'company' }
        ]
      }
    },

    methods: {
      register() {
        let self = this;

        if(this.formType === 'celebrity') {

          this.$store.dispatch('celebrities/createCelebrity', this.inputCelebrity)
          this.$router.push({ name: 'home' })

        } else if(this.formType === 'company') {

          this.$store.dispatch('companies/createCompany', this.inputCompany)
          this.$router.push({ name: 'home' })

        }
      }
    }
  }
</script>

<style lang="scss">
  #beta {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: no-repeat top/100% linear-gradient(to right, #69B62F, #DE3375), url('../assets/instagram-header.jpg');
    background-color: #dc6b96;
    background-blend-mode: soft-light;
    background-size: cover;
    color: #fff;
    img { width: 10em; height: auto;  margin: 1em;}
    p { font-weight: bold; color: #3a3a3a; }
    span { margin-top: 1em; padding: 1em; }
    span a { color: #fff; font-weight: 12px; }
  }

  form.beta-form {
    display: flex;
    flex-flow: column nowrap;
    width: 30em;
    padding: 2em;
    div.name { display: flex; flex-flow: row nowrap;  width: 2em;}
  }

  #beta .form-box {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background: hsla(0, 0%, 96%, 0.88);
    border-radius: 5px;
  }

  #beta input {
    padding: 1.5em;
    font-size: 13px;
    margin: 1em;
    &[type="submit"] {
      color: #fff;
      font-size: 15px;
      font-weight: bold;
      background: #47d89c;
      border-radius: 5px;
      text-transform: uppercase;
      letter-spacing: 4px;
    }
  }

    button.confirm {
      padding: 1.5em;
      font-size: 13px;
      margin: 1em;
      color: #fff;
      font-size: 15px;
      font-weight: bold;
      background: #ea578e;
      border-radius: 5px;
      text-transform: uppercase;
      letter-spacing: 4px;
    }

  #beta select {
    text-indent: .01px;
    text-overflow: '';
    overflow: hidden;
    font-family: inherit;
    font-size: 14px;
    padding: 10px 15px;
    border-radius: 0;
    color: rgba(0, 0, 0, 0.7);
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 22.5em;
    height: 3em;
    margin: 2em 0;
    align-self: center;
    outline: none;
  }
</style>
