<script>
  export default {
    name: 'footer'
  }
</script>

<template>
  <footer class="footer">
    <p>
      <img  src="http://forthebadge.com/images/badges/built-with-love.svg" alt=""></img>
    </p>
  </footer>
</template>

<style lang="sass" scoped>
  footer { position: static; bottom: 0; right: 0; left: 0; padding: 2em; margin-top: 2em; clear: both; text-align: center; background: #f7f7f7;}
</style>
