<script>
  import Login from './Login'

  export default {
    name: 'header',
    components: {
      'LoginComponent': Login
    }
  }
</script>

<template>
  <header class="hero">
    <div class="hero-body">
      <LoginComponent />
    </div>
  </header>
</template>

<style lang="scss">
  .hero {
    display: block;
    background: no-repeat top/100% linear-gradient(to right, #69B62F, #DE3375), url('../assets/instagram-header.jpg');
    background-color: #dc6b96;
    background-blend-mode: soft-light;
    background-size: cover;
    color: #fff;
    height: 45em;
    -ms-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  }
</style>
