<template>
  <div>
    <section id="about">
      <div>
        <h1>What is this all about?</h1>
        <p>
          Idag är sociala medier en enorm kommunikationsplattform och en perfekt reklampelare för företag med en stor maktfaktor. För medieprofiler har detta vuxit fram som en inkomstkälla, både i form av pengar och hemskickade produkter. Sociala medier ger dig som företagare chansen att på ett billigare sätt, komma ut med just din produkt/tjänst och nå ut till din exakta målgrupp. Tjänsten ger dig möjligheten att hitta rätt person, med rätt följare, vid rätt tidpunkt, för just ditt syfte. Med chatten får du en direkt kontakt med din eventuella samarbetspartner, det vill säga, du slipper bli en i väntelistan i en överfull mailinkorg!
        </p>
      </div>
    </section>
  </div>
</template>

<script>
  export default {
    name: 'home'
  }
</script>

<style lang="scss" scoped>
  h1 { display: block; text-align: right; font-size: 1.5em; font-weight: bold;  color: #828282; margin: .8em 0; }
  p { text-align: left; line-height: 1.8em; color: #828282; }
  #about {
    width: 70%;
    margin: 0 auto;
  }
</style>
