<script>
import { mapActions } from 'vuex'

export default {
  name: 'login',

  data () {
    return {
      credentials: {},
      errors: false
    }
  },

  methods: {
    async handleLogin () {
      try {
        await this.$store.dispatch('login/login', this.credentials)
        window.location.reload()
        this.$router.push({ name: 'celebrities' })
      } catch (error) {
        this.errors = error.error_message
      }
    }
  },

  computed: {
    loading () {
      return this.$store.getters.isLoading
    }
  }
}
</script>

<template>
  <div id="login">
      <form @submit.prevent="handleLogin(credentials)" novalidate>
        <div v-if="errors" v-for="error in errors" class="error">
          <p> {{error.msg}}</p>
        </div>
        <input type="text" placeholder="Epostadress" v-model="credentials.email">
        <input type="password" placeholder="Lösenord" v-model="credentials.password">
        <button v-bind:class="{ 'is-loading': loading }" class="is-primary">Login</button>

        Inte medlem?
        <router-link to="/registration">Registrera konto</router-link>
      </form>
  </div>
</template>

<style lang="scss" scoped>
  #login {
    position: absolute;
    top: 40%;
    right: 20%;
    form {
      text-align: center;
      input { display: block; width: 20em; padding: 1.1em; margin: 1em 0; }
    }

    button {
      display: block;
      text-align: center;
      padding: 1em;
      background: #47d89c;
      color: #fff;
      font-size: .8em;
      letter-spacing: .2em;
      border-radius: 5px;
      font-weight: bold;
      width: 17.3em;
      text-transform: uppercase;
      margin: 2em 0;
    }

    form a { display: block; color: #fff; text-decoration: none; padding: 10px; }
  }
</style>
