<script>
  export default {
    name: 'navigation',
    props: ['User'],

    methods: {
      logout (event) {
        location.reload()
        localStorage.removeItem('token');
        this.$router.push({ name: 'home' })
      }
    },

    watch: {
        $route: function (to, from) {
          if(to.name === 'profile' && from.name === 'update') {
            this.$router.go(this.$router.currentRoute)
          }
        }
      },
  }
</script>

<template>
    <!--
      Vue routing
    !-->
    <nav id="navigation">
        <div class="menu">
          <div class="logotype">
            <img src="../assets/famestation.png" alt="">
          </div>
          <!--
            Non authenticated paths
          !-->
          <!-- <img class="logo" src="../assets/famestation.png" alt="Famestation logotype"> -->
          <router-link to="/" v-if="!User.authenticated" exact>Startsida</router-link>
          <router-link to="/registration" v-if="!User.authenticated">Registrera konto</router-link>

          <!--
            Authenticated paths
          !-->
          <router-link to="/celebrities" v-if="User.authenticated && !User.isCelebrity">Personer</router-link>
          <router-link to="/companies" v-if="User.authenticated && User.isCelebrity">Företag</router-link>
          <router-link to="/chat" v-if="User.authenticated">Meddelanden</router-link>
        </div>

        <div v-if="User.authenticated" class="my-account">
          <img src="https://randomuser.me/api/portraits/women/11.jpg" alt="The Name">
          <router-link :to="{ name: 'profile', params: { id: User.id }}">Mitt konto</router-link>
          <a @click="logout">Logga ut</a>
        </div>
    </nav>
</template>

<style lang="scss" scoped>
  #navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4em;
    padding: 0 1em;
    .menu a {
      padding: 0 1em;
      color: #9a9a9a;
      border-right: 1px solid #e8e8e8;
      text-decoration: none;
    }

    .menu {
      display: flex;
      align-items: center;
      div.logotype {
        display: flex;
        flex-flow: row wrap;
        img { width: auto; height: 2em; }
      }
    }

    .my-account {
      display: flex;
      flex-flow: row wrap;
      img { width: auto; height: 50px; border-radius: 50%; }
      a { align-self: center; text-decoration: none; color: #9a9a9a; padding: 0 .5em; }
    }
  }
</style>
