<template>
  <div class="request">
    <section class="section">
      <div class="container content">
        <h1 class="title">Tack för din ansökan!</h1>
        <p>
        Vi bearbetar din ansökan så snabbt vi kan. Du kommer få ett e-mail inom 48 timmar där
        du får veta om din ansökan godkänts eller nekats.
        <br>För en så kvalitativ tjänst som möjligt så granskar vi varje person och företag med
        stor nogranhet.
        <br>Just för att du ska får en så bra upplevelse som möjligt vid varje marknadsföringstillfälle.
        </p>
      </div>
    </section>
  </div>
</template>

<script>
  export default {
    name: 'home'
  }
</script>

