<script>
  import { mapGetters } from 'vuex'

  export default {
    name: 'company',

    async mounted () {
      await this.$store.dispatch('companies/fetchCompany', this.$route.params.id)
    },

    computed: {
      ...mapGetters('companies', {
        loading: 'isLoading',
        company: 'getCompany'
      })
    }
  }
</script>

<template>
  <div class="section profile-heading" v-if="company">
    <div class="columns" >
      <div class="column is-2">
        <div class="image is-128x128 avatar">
          <img src="../../assets/no_logo.png" alt="Image">
        </div>
        <div>
          <a :href="company.company_website">Besök vår hemsida</a>
        </div>
      </div>
      <div class="column is-3">
        <p class="title is-bold">{{company.company_name}}</p>
        <p class="stat-key">{{company.country}}</p>
        <p class="stat-key">{{company.type}}</p>
      </div>
      <div class="column is-4">
          <p class="title stat-val">Om oss</p>
          <p class="tagline">{{company.description}}</p>
      </div>
      <div class="column is-4">
        <p class="title is-bold">Kategorier</p>
        <p class="stat-key" v-for="category in company.categories">{{category.name}}</p>
      </div>
    </div>

  </div>
</template>

<style scoped>

</style>
