<script>
import jwt_decode from 'jwt-decode'

  export default {
    name: 'company-card',
    props: ['id', 'companyName', 'website', 'description', 'profilePicture', 'type', 'country', 'categories', 'uid'],

    data() {
      return {
        Userid: jwt_decode(localStorage.getItem('token'))._uid,
      }
    },

    methods: {
      startConversation: function() {
        const self = this;
        this.$store.dispatch('chat/createConversation', {starter: this.Userid, receiver: this.uid}).then(function(response) {
          self.$router.push({name:'chat'});
        });
      }
    }
  }
</script>

<template>
  <div class="box">
    <router-link :to="{ name: 'company', params: { id: id }}">
      <article class="media">
        <div class="media-left">
          <figure class="image is-64x64">
            <img v-if="profilePicture" :src="profilePicture" alt="Image">
            <img v-else="profilePicture" src="../../assets/no_logo.png" alt="Image">
          </figure>
        </div>
        <div class="media-content">
          <div class="content">
            <p>
              <strong><a :href="website">{{companyName}}</a></strong>
              <br>
              <strong>Beskriving:</strong> {{description}}
              <br>
              <strong>Företagstyp:</strong> {{type}}
              <br>
              <strong>Land:</strong> {{country}}
              <br>
              <strong>Kategorier: </strong><span v-for="category in categories">{{category.name}}  </span>
              <br>
              <br>
              <button v-on:click="startConversation()">Chatta</button>
            </p>
          </div>
        </div>
      </article>
    </router-link>
  </div>
</template>

<style lang="sass" scoped>

</style>
