<script>
  import Company from './CompanyCard.vue'
  import { mapGetters } from 'vuex'

  export default {
    name: 'companies',
    components: {
      'company-card': Company
    },
     data() {
      return {
          search: '',
          companiesNew: []
        }
     },

    async mounted () {
      await this.$store.dispatch('companies/fetchCompanies')
    },

    computed: {
      ...mapGetters('companies', {
        loading: 'isLoading',
        companies: 'getCompanies'
      })
    },

    watch: {
      search: function(newSearch){
        this.filteredCompanies();
      }
    },

    methods: {
      getMatchingCategories: function(myArray) {
        for (var i=0; i < myArray.length; i++) {
            if (myArray[i].name.toLowerCase().indexOf(this.search) >= 0) {
                return myArray[i].name;
            }
        }
      },
      filteredCompanies: function() {
        const thisFunc = this;
        this.companiesNew = this.companies.filter(function(company) {
          const categoryvalue = thisFunc.getMatchingCategories(company.categories);
          return ((company.type.toLowerCase().indexOf(thisFunc.search) >= 0) || (company.company_name.toLowerCase().indexOf(thisFunc.search) >= 0) || (categoryvalue)) && (company.user.verified === true)});
        }
    },

    created() {
      if(this.companies){
        this.companiesNew = this.companies.filter(company => { return (company.user.verified === true) });
      }

    }

  }
</script>

<template>
  <section class="section">
    <div class="container">
      <div class="heading">
        <div id="loading" v-if="loading"></div>
        <p v-if="companies.length <= 0">Kunde inte hitta några företag :-(</p>
        <input class="input" type="text" v-if="companies.length >= 1" v-model="search" placeholder="Sök efter bolag" />
        <br>
        <br>
        <company-card v-for="company in companiesNew"
          :key="company.id"
          :id="company.id"
          :uid="company.user.id"
          :companyName="company.company_name"
          :website="company.company_website"
          :description="company.description"
          :type="company.type"
          :country="company.country"
          :categories="company.categories"
        />
      </div>
    </div>
  </section>
</template>

<style scoped>

/* Animation */
@-webkit-keyframes loading {
  to { -webkit-transform: rotate(360deg); }
}
@-moz-keyframes loading {
	to { -moz-transform: rotate(360deg); }
}
@-ms-keyframes loading {
	to { -ms-transform: rotate(360deg); }
}
@keyframes loading {
	to { transform: rotate(360deg); }
}

/* Loader (*/
#loading {

	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: transparent;

	border-top: 4px solid #fff;
	border-right: 4px solid #fff;
	border-bottom: 4px solid #777;
	border-left: 4px solid #777;

	-webkit-animation: loading 1.2s infinite linear;
	-moz-animation: loading 1.2s infinite linear;
	-ms-animation: loading 1.2s infinite linear;
	animation: loading 1.2s infinite linear;

}

</style>

