<script>
  import { mapGetters, mapState } from 'vuex'
  import Navigation from './components/Navigation'
  import Header from './components/Header'
  import Footer from './components/Footer'
  import jwt_decode from 'jwt-decode';

  export default {
    name: 'app',

    components: {
      'NavigationComponent': Navigation,
      'HeaderComponent': Header,
      'FooterComponent': Footer
    },

    computed: {

      ...mapGetters('login', [
        'userID', 'isAuthed', 'userType', 'canAccess'
      ]),
      usrObject() {
        if (this.isAuthed) {
          return {
            id: this.userID,
            authenticated: this.isAuthed,
            isCelebrity: this.userType === 'celebrity' ? true : false
            }
          }
          return false
        }
      },

    created () {
      const token = window.localStorage.getItem('token')
      if(token){
        this.$store.dispatch('login/setAuthenticatedUser', window.localStorage.getItem('token'))
        this._id = jwt_decode(token)._id;
        this._type = jwt_decode(token)._type;
      }
    }
  }
</script>

<template>
  <div>
  <NavigationComponent :User="usrObject" v-if="$route.path != '/beta'" />
  <HeaderComponent v-if="!isAuthed && $route.path == '/'" />

    <main>
      <router-view></router-view>
    </main>

    <FooterComponent v-if="$route.path != '/beta'" />
  </div>
</template>

<style lang="scss">
  @import './assets/scss/base.scss';

</style>
