<script>
  export default {
    name: 'fame-input',
    props: ['title', 'type', 'placeholder', 'name'],
    methods: {
      updateValue: function (value) {
        this.$emit('input', value)
      }
    }
  }
</script>

<template>
  <div>
    <label class="label">{{ title }}</label>
    <p class="control">
      <input class="input"
        :type="type"
        :name="name"
        :placeholder="placeholder"
        v-on:input="updateValue($event.target.value)"
      >
    </p>
  </div>
</template>
