<script>
  import { mapActions, mapGetters } from 'vuex'
  import Company from './company/Company'
  import Celebrity from './celebrity/Celebrity'

  export default {
    name: 'registration',

    components: {
      'company-registration': Company,
      'celebrity-registration': Celebrity
    },

    data () {
      return {
        celebrityActive: true,
        comapnyActive: false
      }
    },

    async mounted () {
      if(!this.$store.getters['misc/categories']) {
        await this.$store.dispatch('misc/fetchCategories')
      }
    },

    methods: {
      setActive(type, event) {
        if(type === 'company') {
          this.celebrityActive = false;
          return this.comapnyActive = true;

        }
        this.comapnyActive = false;
        return this.celebrityActive = true;
      }
    }
  }
</script>

<template>
  <div class="registration">
    <section class="section">
        <div class="tabs is-medium is-centered is-boxed">
          <ul>
            <li v-bind:class="{ 'is-active': comapnyActive }">
              <a @click="setActive('company', $event)"> Företag </a>
            </li>
            <li v-bind:class="{ 'is-active': celebrityActive }">
              <a @click="setActive('celebrity', $event)"> Privatperson </a>
            </li>
          </ul>
        </div>
      <celebrity-registration v-if="celebrityActive"></celebrity-registration>
      <company-registration v-if="comapnyActive"></company-registration>
    </section>
  </div>
</template>
<style lang="scss">
$primary: #ce648e;
$secondary: #FFFFFF;
$fontSize: 21px;
$lineHeight: 1.5rem;

.toggles {
  padding: 0 $lineHeight/4;
}
@mixin formToggles($fontSize:16px, $lineHeight: 1.5rem, $border:2, $bg: #01C1B8, $fg: #FFFFFF) {
  $baseFont: ($fontSize) / ($fontSize * 0 + 1);
  $base: ($lineHeight) / ($lineHeight * 0 + 1) * 1rem;
  $borderWidth: (($border) / ($border * 0 + 1) / $baseFont) * 1rem;
  .toggles {
    label {
      line-height: $base;
      position: relative;
      display: inline-block;
      padding-left: $base;
      width: 100%;
      margin-bottom: 0;
      &:before,
      &:after {
        box-sizing: border-box;
        line-height: $base;
        content: ' ';
        display: block;
        position: absolute;
        top: $base/4.1;
        left: 0;
        width: $base/2;
        height: $base/2;
        border-radius: 100%;
      }
      &:before {
        width: ($base/2)+$borderWidth*2;
        height: ($base/2)+$borderWidth*2;
        margin: -$borderWidth;
        transition: background .36s;
      }
      &:after {
        border: $borderWidth solid $fg;
        transform: scale(0);
        transition: background .12s, transform .16s;
      }
      /* The radio button background */
      &:before {
        border: $borderWidth solid $bg;
      }
      &.checkbox:before,
      &.checkbox:after {
        border-radius: 0;
      }
      /* the check box background */
      &.checkbox:before {
        width: ($base/2)+$borderWidth*2;
        height: ($base/2)+$borderWidth*2;
        border-radius: 0;
      }
      /* Label hover state */
      &:hover {
        color: $bg;
      }
    }
    input[type="checkbox"] {
      display: none;
      &:checked + label:after {
        display: inline-block;
        background: $bg;
        color: #fff;
        line-height: $base/2+$borderWidth;
        font-size: $base/3;
        text-align: center;
        transform: scale(1);
        border: none;
      }
    }
  }
}

form {
  @include formToggles($fontSize, $lineHeight, 3, $primary, $secondary);
}
</style>
